@model VehicleTender.Models.ViewModelHomeDetail

@{
    ViewBag.Title = "Tender";

}

@if (this.User.IsInRole("admin"))
{
    @*<h1>Admin</h1>*@
    <div class="container">
        <div class="row row-cols-2">
            <div class="col"><b>Tender number: </b> @Model.Tender.TenderNo   </div>
            <div class="col"><b>Tender open date:</b> @Model.Tender.OpenDate.ToShortDateString() </div>
            <div class="col"><b>Seller:</b> @Model.Tender.User.DealerName </div>
            <div class="col"><b>Tender close date:</b> @Model.Tender.CloseDate.ToShortDateString() </div>
            <div class="col"><b>Tender contact:</b> @Model.Tender.User.Email</div>
        </div>
    </div>

    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">RegNo</th>
                <th scope="col">Make</th>
                <th scope="col">Carline</th>
                <th scope="col">Model</th>
                <th scope="col">Mileage</th>
                <th scope="col">Cost</th>
                <th scope="col">Comments</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TStock)
            {
                <tr style="border-top: 3px solid black; border-bottom: 2px solid black;">
                    <td>@item.Stock.RegNo</td>
                    <td>@item.Stock.Car.Manufacturer.ManufacturerName</td>
                    <td>@item.Stock.Car.ModelName</td>
                    <td>@item.Stock.Car.ModelNo</td>
                    <td>@item.Stock.Mileage</td>
                    <td>@item.Stock.Price</td>
                    <td>@item.Stock.Comments</td>
                    <td>@item.Stock.Location.City</td>
                </tr>  

                foreach (var user in Model.TUser)
                {
                <tr>
                    <td></td>
                    <td><b>@user.User.FirstName</b></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td></td>
                    <td><b>@user.User.DealerName</b> <input type="checkbox" name="checkbid" /> </td>
                    <td></td>
                </tr>
                    }
                }
        </tbody>
    </table>


   // <div id="tenderInfoAdmin"></div>

}
else
{
    <h1>user asdfas</h1>
    <div id="tenderInfo"></div>
}

@*@section Scripts{
    <script src="~/Scripts/tenderInfo.js"></script>
}*@